extends ./layout/index


block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Torre Eiffel" class="img-fluid")
            .col-md-7
                h1=pagina
                blockquote  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque accumsan, mi a dignissim consequat, ante odio sagittis metus, at iaculis metus tortor et enim. Nunc venenatis malesuada felis sit amet ultrices. Aliquam ut ornare nulla. Aenean luctus bibendum augue in eleifend. Nam et egestas felis. Praesent semper pretium faucibus. Vivamus imperdiet tellus vehicula, auctor orci ut, tincidunt arcu. Aliquam erat volutpat. Nunc condimentum congue tempus. Integer rhoncus facilisis turpis a tincidunt. Curabitur dictum ligula nunc, eget pellentesque libero tristique a. Morbi id nunc in nisi consequat finibus.

                p interdum accumsan orci facilisis euismod. Curabitur quis purus venenatis, iaculis turpis id, tempor nulla. Praesent facilisis malesuada pellentesque. Nullam vitae ultrices urna, ac semper lectus. Quisque at dapibus augue, sed facilisis massa. Praesent nec purus sed nisi hendrerit vehicula in ut ex. Nullam vel quam quis nibh euismod tempor in ac nunc. Cras at consectetur libero, quis tincidunt magna.

                p aliquam magna vel felis accumsan euismod. Phasellus et metus id orci ornare placerat nec eget nunc. Phasellus ultrices convallis sapien, sed pellentesque orci ultricies et. Vestibulum massa arcu, ullamcorper id enim sed, tincidunt sollicitudin purus. Quisque augue lectus, fringilla vitae nisi non, sollicitudin ornare diam. Pellentesque justo augue, auctor molestie metus sit amet, auctor dignissim erat. Maecenas sed turpis vulputate, convallis lectus sed, posuere odio. Nunc nec risus gravida, fermentum augue at, aliquam nibh. Morbi interdum, neque at vehicula lobortis, arcu orci consequat ante, a vulputate leo nisi at ex.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p aliquam magna vel felis accumsan euismod. Phasellus et metus id orci ornare placerat nec eget nunc. Phasellus ultrices convallis sapien

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destino", class="img-fluid mb-4")
                    h2.mb-4 Destinos
                    p aliquam magna vel felis accumsan euismod. Phasellus et metus id orci ornare placerat nec eget nunc. Phasellus ultrices convallis sapien

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Precios
                    p aliquam magna vel felis accumsan euismod. Phasellus et metus id orci ornare placerat nec eget nunc. Phasellus ultrices convallis sapien
                    